Makefile
Makefile.in
*~

/INSTALL
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/docs/gnomemm-website.pot
/docs/html/??/
/docs/html/??_??/
/docs/??/index.docbook
/docs/??_??/index.docbook
/docs/??/*.mo
/docs/??_??/*.mo
/docs/??/*.stamp
/docs/??_??/*.stamp
/docs/??/*.xml
/docs/??_??/*.xml

