/* Main stylesheet for gtkmm.gnome.org */

body    {
    margin: 0em;
    padding: 0em;
}

/* a wrapper around everything */
html {
    background-color: white;
    color: black;
}

/* the header portion above the main content */
#header {
}

/* the banner across the top of the header */
#header .banner {
    background-color: #b02c29;
    color: white;
    padding: 0em 2em;
    text-align: left;
    background-image: url("../style/style_images/banner-gradient.gif");
    background-repeat: repeat-x;
    background-position: 0% 100%;
}

#header .banner a:link,
#header .banner a:visited,
#header .banner a:hover,
#header .banner a:active,
#footer a:link,
#footer a:visited,
#footer a:hover,
#footer a:active    {
    color: white;
    font-weight: bold;
}

#header .banner ul  {
    list-style: none;
    margin: 0em;
    padding: 0.5em 0em;
}

#header .banner ul li   {
    display: inline;
    padding: 1em;
}

/* the main content of the header (most likely a title) */
#header .content    {
    background-color: #7f201f;
    color: white;
    background-image: url("../style/style_images/header-gradient.gif");
    background-repeat: repeat-x;
    padding: 1em 2em;
    font-size: 120%;
}

#header .content h1 {
    margin: 0em;
    padding: 0em;
}

#header .content p {
    margin: 0.5em 0em;
    font-weight: bold;
}

/* wrappers around the content and sidebar.  This is to enable drop-shadow
* effects via background-image directives */
#content-wrapper    {
    background-image: url("../style/style_images/content-gradient-top.gif");
    background-repeat: repeat-x;
    background-position: 0% 0%;
}

/* the main content of the page */
#content    {
    padding: 2em 2em 4em 2em;
    margin-left: 20em;
}

#releasebox    {
}

#releasebox #releasebox-inner    {
    /* The idea here is that you can use this to add another background image
    * since the other one already has the stripes */
}

#content .highlight  {
    padding: 1em 2em;
    margin: 1em 0em 2em 0em;
    background-color: #ccff99;
    background-image: url("../style/style_images/highlight-stripe.gif");
    border: 1px solid #87a865;
}

a:link,
a:hover,
a:visited,
a:active    {
    color: #4a5db4;
    font-weight: bold;
}

/* A sidebar of links, etc */
#sidebar    {
    float: left;
    width: 16em;
    margin: 3em 2em;
    padding: 1em 1.5em;
    font-size: 90%;
    background-color: #f6f6f6;
    background-image: url("../style/style_images/sidebar-stripe.gif");
    border: 1px solid #eeeeee;
}

#sidebar ul {
    list-style: none;
    margin: 0em;
    padding: 0em 1em;
}

#sidebar #sidebar-credits   {
    margin: 3em 0em;
    padding: 0.5em;
    text-align: center;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
}

h2  {
    color: #b02c29;
    margin-top: 1.5em;
}

/* make the first header in the #content div have a smaller margin so that it
* doesn't start so far down the page */
#content > h2:first-child   {
    margin-top: 1em;
}

/* make the first header in the resource menu have no margin on top so that the
* padding of the sidebar and the margin don't add. */
#sidebar #resource-menu > h2:first-child   {
    margin-top: 0em;
}

/* A footer across the bottom of the page */
#footer {
    background-color: #7f201f;
    color: white;
    background-image: url("../style/style_images/header-gradient.gif");
    background-repeat: repeat-x;
    text-align: center;
    padding: 2em 2em 5em 2em;
    clear: both;
    border-top: 1px solid black;
}

img {
    border: none;
}

pre {
    background-color: #eeeeee;
    padding: 0.5em;
    font-weight: bold;
}

.highlight > pre    {
    background-color: transparent;
}

th
{
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    padding: 0.3em;
    width: 33%;
}

td
{
    vertical-align: top;
}

.nowrap {
    white-space: nowrap;
}
