RewriteEngine On
RewriteBase /

# Cut ".shtml" off the end of the request, to get the basename:
RewriteRule ^(.*)\.shtml$ $1 [C,E=WasSHTML:yes]

# Change the request for "basename.shtml" to "basename.html",
RewriteRule ^(.*)$ $1.html

# Redirect files at the top-level (the old ones) to the en/ subdirectory.
RedirectMatch      301      ^/([^/]*)$      http://www.gtkmm.org/en/$1

